@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

.visually-hidden {
   visibility: hidden;
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.none {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color:#000000;
    background-color: #FFFFFF;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}

.navigation {
    display: flex;
    width: 1057px;
    height: 65px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.navigation-link {
    position: relative;
    display: block;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 25,88px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    margin-top: 19px;
    margin-bottom: 21px;
  }

  .navigation-list .navigation-link:hover {
    color: #756257;
  }

  .navigation-list .navigation-link:focus {
    color: #756257;
    box-shadow: inset 0 0 0 3px #83B3D3;
    border-radius: 10px;
    outline: none;
  }

  .navigation-list .navigation-link:active {
    color: #756257;
    opacity: 0.3;
    box-shadow: none;
}

  .navigation-link.current::after {
    content: "";
    position: absolute;
    display: block;
    top: 67px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70;
    border-bottom: 2px solid #756257;
  }


  .navigation-logo {
      position: absolute;
      margin-left: 460px;
  }

  .navigation-user {
    display: flex;
    margin-left: auto;
    list-style-type: none;
    max-width: 300px;
    align-items: center;
}


.navigation-user .navigation-item:not(.navigation-item.button) {
    margin: 1px;
}

.search {
    width: 18px;
    height: 18px;
}

.navigation-icon {
    fill: black;
    padding: 10px;
}

.navigation-button:hover .navigation-icon:not(.eclipse) {
    fill: #756257;
}

.navigation-button:focus .navigation-icon:not(.eclipse) {
    fill: #756257;
    box-shadow: inset 0 0 0 3px #83B3D3;
    border-radius: 10px;
    outline: none;
}

.navigation-button:active .navigation-icon:not(.eclipse){
    fill: #756257;
    opacity: 0.3;
    box-shadow: none;
}

.favorites {
    position: relative;
    display: block;
}

.eclipse {
    position: absolute;
    top: -10px;
    right: -13px;
    fill: #7DB54F;
}

.navigation-link.button {
    margin: 0;
    margin-left: 21px;
    padding: 0;
}

.white-link {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;

    display: flex;
    box-sizing: border-box;
    width: 160px;
    padding-top: 9px;
    padding-bottom: 10px;
    background-color: #756257;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }

  .navigation-link.button:hover .white-link{
    background: #615048;
    color: white;
  }

  .navigation-link.button:focus .white-link{
    background: #615048;
    box-shadow: 0 0 0 3px #83B3D3;
    border-radius: 4px;
    outline: none;
  }

  .navigation-link.button:active .white-link{
    background: #615048;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
  }

  .main-container {
      flex-grow: 1;
  }

  .main-index {
    color: #000000;
    background-color: #FFFFFF;
  }

.main-bg {
    background-image: url("../img/index-bg-min.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 485px;
}

.main-index-logo {
    margin-top: 51px;
    margin-left: 371px;
}

.promo {
    margin-top: 63px;
    margin-bottom: 79px;
    text-decoration: none;
    text-align: center;
}

.main_title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.main_description{
    font-size: 22px;
    line-height: 36px;
}

.advantages {
    text-align: center;
}

.advantages-list {
    text-align: center;
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.block-blue {
    background-color: #83B3D3;
    color: white;
    width: 400px;
    height: 384px;
    flex-wrap: nowrap;
}

.detail-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.detail-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.detail-item-blue {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 384px;
}

.detail {
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
}

.detail-item-white {
    background-color: white;
    width: 400px;
    height: 384px;
}

.detail-icon {
    margin-left: auto;
    margin-right: auto;
}

.icon-house {
    background-image: url("../img/house.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    
}

.icon-food {
    background-image: url("../img/food.svg");
    background-repeat: no-repeat;
    width: 74px;
    height: 70px;
}

.icon-souvenirs {
    background-image: url("../img/souvenirs.svg");
    background-repeat: no-repeat;
    width: 64px;
    height: 76px;
}

.adv-2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}


.other-adv {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.advantages-item {
    display: flex;
    flex-wrap: nowrap;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding:0;
    margin-top: 98px;
    margin-bottom: 25px;
}

.advantages-description {
    margin-top: 26px;
}

.advantages-item-light {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 384px;
}

.advantages-item-dark {
    background-color: rgba(131, 179, 211, 0.2);
    width: 400px;
    height: 384px;
}

.appointment {
    margin-top: 91px;
    margin-bottom: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.appointment-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    height: 50px;
    margin-top: 0;
    margin-bottom: 15px;
}

.appointment-description {
    font-size: 22px;
    line-height: 26px;
    white-space: pre;
    text-align: center;
    margin-top: 0;
    margin-bottom: 37px;
}

.appointment-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    box-sizing: border-box;
    width: 575px;
    height: 60px;
    background-color: #756257;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 91px;
}

.appointment-button:hover {
    background-color: #615048;
}

.appointment-button:focus {
    background-color: #615048;
    border: 3px solid #83B3D3;
    border-radius: 10px;
    outline: none;
}

.appointment-button:active {
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
    border: none;
}

.footer-bg {
    background-image: url("../img/footer-background-min.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;

    text-align: center;
    color: white;
}

.page-footer-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding-top: 94px;
    text-transform: uppercase;
    margin-top: 0;
}

.page-footer-description {
    font-size: 22px;
    line-height: 26px;
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-size: 18px;
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding-left: 22px;
}

input[type="email"]:hover {
    background-color: #E6E6E6;
}

input[type="email"]:focus {
    background-color: #E6E6E6;
    box-shadow: 0 0 0 3px #83B3D3;
    border-radius: 10px 0px 0px 10px;
    outline: none;
}

button.newsletter-button {
    width: 200px;
    height: 62px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #83B3D3;
    color: white;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    box-sizing: border-box;
}

button.newsletter-button:hover {
    background-color: #68A2CA;
}

button.newsletter-button:focus {
    background-color: #68A2CA;
    box-shadow: 0 0 0 3px #756257;
    outline: none;
}

button.newsletter-button:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
}

.field-catalog {
    font-size: 18px;
    line-height: 26px;
    padding-left: 22px;
}

.newsletter.catalog {
    width: 1200px;
    height: 450px;
}



.contacts {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    height: 100px;
}

.footer-social {
    min-width: 107px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 72px;
    justify-content: space-between;
    list-style-type: none;
}

.twitter {
    width: 18px;
    height: 15px;
}

.twitter .social-icon {
    padding: 10px;
}

.facebook {
    width: 10px;
    height: 18px;
}

.facebook .social-icon {
    padding: 11px 15px;
}

.youtube {
    width: 20px;
    height: 16px;
}

.youtube .social-icon {
    padding: 12px 10px;
}

.social-icon {
    display: flex;
    align-items: center;
    fill: #83B3D3;
}

.social-icon:hover {
    fill: rgba(104, 162, 202, 1);
}

.footer-social-link:focus .social-icon{
    fill: rgba(104, 162, 202, 1);
    box-shadow: 0 0 0 3px #83B3D3;
    border-radius: 10px;
    outline: none;
}

.footer-social-link:active .social-icon{
    opacity: 0.3;
    box-shadow: none;
}

.footer-contacts {
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: black;
    padding: 15px;
}

.footer-contacts-phone:hover {
    color: rgba(117, 98, 87, 1);
}

.footer-contacts-phone:focus {
    color: rgba(117, 98, 87, 1);
    box-shadow: 0 0 0 3px #83B3D3;
    border-radius: 10px;
    outline: none;
}

.footer-contacts-phone:active {
    opacity: 0.3;
    box-shadow: none;
}

.about-text {
    display: flex;
    align-items: center;
    margin-right: 72px;
}

.made-icon {
    fill: black;
    padding: 18.55px 22.55px;
}

.made:hover .made-icon {
    fill: rgba(117, 98, 87, 1);
}

.made:focus .made-icon {
    fill: rgba(117, 98, 87, 1);
    box-shadow: 0 0 0 3px #83B3D3;
    border-radius: 10px;
    outline: none;
}

.made:active .made-icon {
    opacity: 0.3;
    box-shadow: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1056px;
  }

.inner-bg {
    background-image: url("../img/catalog-background-min.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 408px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 77px;
    font-weight: 700;
    color: white;
    width: 528px;
    margin-top: 35px;
    margin-bottom: 0;
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    margin-top: 5px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 20,7px;
    text-decoration: none;
    color: white;
}

.catalog-products {
    font-size: 18px;
    line-height: 23,29px;
    color: white;
    margin-top: 45px;
}

.catalog-filter {
    width: 1057px;
    display: flex;
    flex-direction: row;
}

.catalog-filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.catalog-filter-group:nth-child(1) {
    width: 150px;
    margin-right: 67px;
    border: 0;
    padding: 0;
}

.catalog-filter-group:nth-child(2) {
    width: 144px;
    margin-right: 167px;
    border: 0;
    padding: 0;
}

.catalog-filter-group:nth-child(3) {
    width: 287px;
    border: 0;
    padding: 0;
    margin-right: 81px;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 25,88px;
    font-weight: 700;
    padding-bottom: 30px;
}

.catalog-filter-item {
    padding-bottom: 13px;
}

.sorting-button {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.button-show {
    font-size: 16px;
    line-height: 20,7px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;

    background-color: #83B3D3;
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 4px;
}

.button-delete {
    width: 160px;
    height: 23px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    color: white;
    font-size: 18px;
}

.sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 45px;
    width: 1056px;
    margin-left: 71px;
}

.sorting-sum {
    font-size: 30px;
    line-height: 38,82px;
    font-weight: 700;
    text-transform: uppercase;
    
    margin-right: 192px;
}

.select-control-main {
    width: 280px;
    margin-right: 81px;
    height: 48px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    font-size: 18px;
    line-height: 23,29px;
    padding-left: 19px;
}

.view-type {
    display: flex;
    width: 160px;
}

.view-type-button {
    width: 48px;
}

.product-list {
    list-style-type: none;
    width: 1054px;
    padding: 0;
    margin-left: 72px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.product-card {
    line-height: 23,29px;
    display: grid;
    grid-template-columns: 180px 151px auto 160px;
    grid-template-rows: 31px auto 37px;
    max-height: 120px;
    padding-bottom: 30px;
    padding-top: 31px;
    row-gap: 1px;
    column-gap: 8px;

    border-top: 1px solid #E6E6E6;
}

.product-card:last-child {
    border-bottom: 1px solid #E6E6E6;
}

.product-card-img {
   grid-column: 1 / 2;
   grid-row: 1 / -1;
   display: block;
}

.product-card-type {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 29px;
}

.rating-stars {
   grid-column: 4 / 5;
   grid-row: 1;
}

.product-card-price {
   grid-column: 3 / 4;
   grid-row: 2 / 3;
}

.product-card-link {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.product-card-title {
    font-size: 24px;
    line-height: 31,06px;
    font-weight: 700;
    grid-column: 2 / 4;
    grid-row: 1;
    margin: 0;
    margin-left: 29px;
}

a.product-card-title {
    margin: 0;
}

.product-card-button {
    font-size: 16px;
    line-height: 20,07px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-left: 29px;
}

.more {
    background-color: #756257;
    width: 151px;
    height: 37px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}


.in-favorites {
    background-color: #83B3D3;
    width: 160px;
    height: 37px;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.in-favorites.selected {
    background-color: #7DB54F;
}

.rating {
    background-color: #F2F2F2;
    text-transform: uppercase;
    display: flex;
    box-sizing: border-box;
    width: 160px;
    height: 37px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    grid-column: 4 / 5;
    grid-row: 3;
}

.pagination-show-more {
    font-size: 20px;
    line-height: 25,88px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: #83B3D3;
    width: 625px;
    height: 55px;
    border: 0;
    border-radius: 4px;
}

.show-more {
    display: flex;
    width: 1056px;
    min-height: 116px;
    margin-left: 72px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
}

.pagination {
    display: flex;
}

.pagination-list {
    list-style-type: none;
    display: flex;
    margin-left: 72px;
    padding: 0;
    width: 370px;
    margin-right: 302px;
    margin-top: 31px;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-item:nth-child(6) {
    margin-right: 0;
}
  
  .pagination-link {
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25,88px;
    font-weight: 700;
    display: flex;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
  }
  
  .pagination-current {
    color: black;
    background-color: #F2F2F2;
  }

  .sorting-block {
      display: flex;
      align-items: center;
  }

  .select-control {
      width: 160px;
      height: 48px;
      font-size: 18px;
      padding-left: 17px;
      border: 2px solid #E6E6E6;
      border-radius: 4px;
  }

  .sorting-count {
    line-height: 23,29px;
    margin-right: 51px;
  }

  .newsletter.catalog {
    text-align: center;
}

.page-footer-description {
    font-size: 22px;
    line-height: 26px;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: black
}

.field-catalog {
    width: 600px;
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}